div.grid {
	border: 1px solid black;
	float: left;
	display:block;
	margin: 0;
	padding: 0;
}
div.wrapper {
	height: 800px;
	width: 800px;
	margin: 0 auto;
	padding: 0;
	overflow: auto;
}
div#buttons {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 100px;
}