div.grid {
	border: none;
	display: inline-block;
	float:left;
	margin: 0;
	padding: 0;
}
div.wrapper {
	border: 1px solid black;
	height: 800px;
	width: 800px;
	margin: 0 auto;
	padding: 0;
	overflow: auto;
}
div#buttons {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 100px;
}